@page "/"

<div class="flex justify-center items-center h-screen">
    <a href="" class="bg-spotifygreen-800  hover:bg-spotifygreen-900 transition-colors duration-200 text-white text-2xl font-bold py-2 px-4 rounded-full inline-flex items-center">
        <i class="pr-2 fa-brands fa-spotify"></i>
        Login
    </a>
</div>